<div class="admin-main-wrapper">
  <div class="settings-wrapper">
    <div class="settings-card">
      <p class="title">Javascript Settings</p>
      <%= form_for @app do |f| %>
        <% if @app.errors.any? %>
          <p>
            Looks like something went wrong. Fix the following and try again.
          </p>
          <ul>
            <% @app.errors.each do |attribute, message| %>
              <li class="error">
                <%= attribute %> <%= message %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="checkbox">
          <label>
            <%= f.check_box :user_id_enabled %> Include user_id
          </label>
        </div>
        <br>
        <%= f.submit "Save", class: "submit" %>
      <% end %>
    </div>
    <div class="settings-card">
      <p class="title">Your Javascript Snippet</p>
      <p>The javascript below uses your admin details. On your site, intercomSettings will change according to the account you are logged in with at the time.</p>
      <%= render '/admin/pages/admin_javascript_settings' %>
      <%= render '/admin/pages/cda_count_form' %>
    </div>
  </div>
</div>
