<div class="admin-main-wrapper">
  <div class="settings-wrapper">
    <div class="settings-card">
      <p class="title">Basic Settings</p>
      <%= form_for @app do |f| %>
        <% if @app.errors.any? %>
          <p>
            Looks like something went wrong. Fix the following and try again.
          </p>
          <ul>
            <% @app.errors.each do |attribute, message| %>
              <li class="error">
                <%= attribute %> <%= message %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :intercom_id, "Intercom app id" %>
          <%= f.text_field :intercom_id, class: "form-control"%><br />
        </div>
        <div class="form-group">
          <%= f.label :subdomain, "Subdomain" %>
          <%= f.text_field :subdomain, class: "form-control"%><br />
        </div>
        <br>
        <%= f.submit "Save", class: "submit" %>
      <% end %>
    </div>
    <div class="settings-card">
      <%= link_to "Delete", @app, method: :delete, data: {confirm: "This will destroy the current site. Are you sure?"}, class: "delete" %>
    </div>
  </div>
</div>
