<div class="admin-main-wrapper">
  <div class="container-fluid">
    <div class="settings-row">
      <%= form_for @app, :html => {:class => "form-inline"} do |f| %>
        <% if @app.errors.any? %>
          <p>
            Looks like something went wrong. Fix the following and try again.
          </p>
          <ul>
            <% @app.errors.each do |attribute, message| %>
              <li class="error">
                <%= attribute %> <%= message %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :intercom_id, "Intercom app id" %>:
          <%= f.text_field :intercom_id, class: "form-control"%><br />
        </div>
        <br>
        <%= f.submit "Update", class: "btn-primary btn" %>
      <% end %>
    </div>
  </div>
</div>
